In [1]:
# Import data from sample files, modify, and export to new table

In [1]:
import pandas as pd
import os.path

In [2]:
insample = os.path.join( os.getcwd(), 'samples\\sites.csv' )
indata = os.path.join( os.getcwd(), '..', 'input_data\\stations.xlsx' )
outname = os.path.join( os.getcwd(), '..', 'sites.csv' )

In [3]:
df = pd.read_csv(insample)
df

,SiteCode,SiteName,Latitude,Longitude,LatLongDatumSRSName,Elevation_m,VerticalDatum,LocalX,LocalY,LocalProjectionSRSName,PosAccuracy_m,State,County,Comments,SiteType
0,Siphon7,StatenX experimental station at Siphon 7 on St...,38.1698,-121.527375,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Site where multiple water meters are installed...,Diversion

In [9]:
# Modify the comment for siphon 7

new_comment = "Water Right ID: S018557; AG3000 Meter Serial Number: 032017001576; Telemetry ID: 001D0A8920278. " + df.at[0, 'Comments']
df.at[0, 'Comments'] = new_comment
df

,SiteCode,SiteName,Latitude,Longitude,LatLongDatumSRSName,Elevation_m,VerticalDatum,LocalX,LocalY,LocalProjectionSRSName,PosAccuracy_m,State,County,Comments,SiteType
0,Siphon7,StatenX experimental station at Siphon 7 on St...,38.1698,-121.527375,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018557; AG3000 Meter Serial N...,Diversion

In [10]:
dfxl = pd.read_excel(open(indata,'rb'), sheet_name="sites")
dfxl

,SiteCode,SiteName,Latitude,Longitude,LatLongDatumSRSName,Elevation_m,VerticalDatum,LocalX,LocalY,LocalProjectionSRSName,PosAccuracy_m,State,County,Comments,SiteType
0,Siphon11,Siphon 11,38.15086,-121.53715,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018587; Meter Serial Number: ...,Diversion
1,Siphon15,Siphon 15,38.13763,-121.55673,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018530; Meter Serial Number: ...,Diversion
2,Siphon30,Siphon 30,38.16478,-121.49350,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018552; Meter Serial Number: ...,Diversion
3,Siphon39,Siphon 39,38.20172,-121.47739,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018531; Meter Serial Number: ...,Diversion
4,Siphon40,Siphon 40,38.20551,-121.48002,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018548; Meter Serial Number: ...,Diversion

In [11]:
# Modify the sample table.  In this case, merge the sample data with the input data
df = df.append(dfxl, ignore_index=True)
df

,SiteCode,SiteName,Latitude,Longitude,LatLongDatumSRSName,Elevation_m,VerticalDatum,LocalX,LocalY,LocalProjectionSRSName,PosAccuracy_m,State,County,Comments,SiteType
0,Siphon7,StatenX experimental station at Siphon 7 on St...,38.16980,-121.527375,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018557; AG3000 Meter Serial N...,Diversion
1,Siphon11,Siphon 11,38.15086,-121.537150,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018587; Meter Serial Number: ...,Diversion
2,Siphon15,Siphon 15,38.13763,-121.556730,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018530; Meter Serial Number: ...,Diversion
3,Siphon30,Siphon 30,38.16478,-121.493500,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018552; Meter Serial Number: ...,Diversion
4,Siphon39,Siphon 39,38.20172,-121.477390,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018531; Meter Serial Number: ...,Diversion
5,Siphon40,Siphon 40,38.20551,-121.480020,WGS84,NaN,NaN,NaN,NaN,NaN,NaN,California,San Joaquin,Water Right ID: S018548; Meter Serial Number: ...,Diversion

In [12]:
# Save as a new text file
df.to_csv(outname, encoding='utf-8', index=False)